* {
    margin: 0;
    padding: 0;
}
.wrapper{
    display: grid;
    grid-template-rows: 200px 300px 200px 300px;  //this value taken rows values
}
.grid-1, .grid-2, .grid-3, .grid-4 {
    padding: 20px;
    background-color: red;
    margin-bottom: 10px;
}